<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.atos.rental.ui.category1"
            name="%category.name">
      </category>
      <view
            category="com.atos.rental.ui.category1"
            class="com.atos.rental.ui.views.RentalPropertyView"
            icon="icons/Rentals.png"
            id="com.atos.rental.ui.RentalPropertyView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            category="com.atos.rental.ui.category1"
            class="com.atos.rental.ui.views.RentalAgencyView"
            icon="icons/Agency.png"
            id="com.atos.rental.ui.RentalAgencyView"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.atos.test.perspective.RentalPerspective"
            id="com.atos.test.perspective.RentalPerspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.atos.rental.ui.preferences.RentalPreferencePage"
            id="com.atos.rental.ui.RentalPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.atos.rental.ui.preferences.RentalPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.atos.rental.ui.handler.SampleHandler"
            id="com.atos.rental.ui.sampleCommand"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%menu.label">
            <command
                  commandId="com.atos.rental.ui.sampleCommand"
                  label="%command.label"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.atos.rental.ui.sampleCommand"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.atos.rental.ui.RentalAgencyView?after=additions">
         <command
               commandId="com.atos.rental.ui.sampleCommand"
               label="%command.label.1"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.atos.rental.ui.sampleCommand"
            contextId="org.eclipse.ui.contexts.dialogAndWindow"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+9">
      </key>
   </extension>

</plugin>
